body{
    margin: 0;

}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 450px;
}

.top-container h1{
    color:#000033 ;
    font-size: 50px;
    font-family: serif;
    letter-spacing: 2px;

}

.text{
    margin: 50px 5%;
    font-family: sans-serif;

}

.navbar{
    display:flex;
    position: fixed;
    background-color:lightgreen;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.navbar ul{
    display:flex;
    list-style-type:none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family:cursive;


}

.navbar ul li a:hover{
    color:crimson;
}

.navbar.active{
    background-color: white;

}

.navbar.active ul li a{
    color: grey;

}